body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
.tittle {
  font-size: 30px;
  font-weight: bold;
}
.move-icon {
  height: 50px;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 90px;
  padding: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.reset-button {
  padding: 10px 15px 10px 15px;
}